<div class='black-discount-coupon'>
  <svg width='0' height='0' style='display:none;'>
    <!-- 定义第一个图标 -->
    <symbol id="leftTopBigCorner" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0H0V12H3V9.93812C6.61877 9.48692 9.48697 6.61876 9.93823 3H12V0ZM6 4C6 5.10457 5.10457 6 4 6C2.89543 6 2 5.10457 2 4C2 2.89543 2.89543 2 4 2C5.10457 2 6 2.89543 6 4Z" fill="currentColor"></path>
    </symbol>

    <!-- 定义第二个图标 -->
    <symbol id="leftBorder" viewBox="0 0 5 178" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1944_123525)"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.00414 0H0V200L3 200V178H3.00014C4.10471 178 5.00014 177.105 5.00014 176C5.00014 174.895 4.10471 174 3.00014 174H3V172H3.00014C4.10471 172 5.00014 171.105 5.00014 170C5.00014 168.895 4.10471 168 3.00014 168H3V166H3.00014C4.10471 166 5.00014 165.105 5.00014 164C5.00014 162.895 4.10471 162 3.00014 162H3V160H3.00014C4.10471 160 5.00014 159.105 5.00014 158C5.00014 156.895 4.10471 156 3.00014 156H3V154H3.00014C4.10471 154 5.00014 153.105 5.00014 152C5.00014 150.895 4.10471 150 3.00014 150H3V148H3.00014C4.10471 148 5.00014 147.105 5.00014 146C5.00014 144.895 4.10471 144 3.00014 144H3V142H3.00014C4.10471 142 5.00014 141.105 5.00014 140C5.00014 138.895 4.10471 138 3.00014 138H3V136H3.00014C4.10471 136 5.00014 135.105 5.00014 134C5.00014 132.895 4.10471 132 3.00014 132H3V130H3.00014C4.10471 130 5.00014 129.105 5.00014 128C5.00014 126.895 4.10471 126 3.00014 126H3V124H3.00014C4.10471 124 5.00014 123.105 5.00014 122C5.00014 120.895 4.10471 120 3.00014 120H3V118H3.00014C4.10471 118 5.00014 117.105 5.00014 116C5.00014 114.895 4.10471 114 3.00014 114H3V112H3.00014C4.10471 112 5.00014 111.105 5.00014 110C5.00014 108.895 4.10471 108 3.00014 108H3V106H3.00014C4.10471 106 5.00014 105.105 5.00014 104C5.00014 102.895 4.10471 102 3.00014 102H3V100H3.00014C4.10471 100 5.00014 99.1046 5.00014 98C5.00014 96.8954 4.10471 96 3.00014 96H3V94H3.00014C4.10471 94 5.00014 93.1046 5.00014 92C5.00014 90.8954 4.10471 90 3.00014 90H3V88H3.00014C4.10471 88 5.00014 87.1046 5.00014 86C5.00014 84.8954 4.10471 84 3.00014 84H3V82H3.00014C4.10471 82 5.00014 81.1046 5.00014 80C5.00014 78.8954 4.10471 78 3.00014 78H3V76H3.00014C4.10471 76 5.00014 75.1046 5.00014 74C5.00014 72.8954 4.10471 72 3.00014 72H3V70H3.00014C4.10471 70 5.00014 69.1046 5.00014 68C5.00014 66.8954 4.10471 66 3.00014 66H3V64H3.00014C4.10471 64 5.00014 63.1046 5.00014 62C5.00014 60.8954 4.10471 60 3.00014 60H3V58H3.00014C4.10471 58 5.00014 57.1046 5.00014 56C5.00014 54.8954 4.10471 54 3.00014 54H3V52H3.00014C4.10471 52 5.00014 51.1046 5.00014 50C5.00014 48.8954 4.10471 48 3.00014 48H3V46H3.00014C4.10471 46 5.00014 45.1046 5.00014 44C5.00014 42.8954 4.10471 42 3.00014 42H3V40H3.00014C4.10471 40 5.00014 39.1046 5.00014 38C5.00014 36.8954 4.10471 36 3.00014 36H3V34H3.00014C4.10471 34 5.00014 33.1046 5.00014 32C5.00014 30.8954 4.10471 30 3.00014 30H3V28H3.00014C4.10471 28 5.00014 27.1046 5.00014 26C5.00014 24.8954 4.10471 24 3.00015 24H3V22H3.00015C4.10471 22 5.00015 21.1046 5.00015 20C5.00015 18.8954 4.10471 18 3.00015 18H3V16H3.00015C4.10471 16 5.00015 15.1046 5.00015 14C5.00015 12.8954 4.10472 12 3.00015 12H3V10H3.00015C4.10472 10 5.00015 9.10457 5.00015 8C5.00015 6.89543 4.10472 6 3.00015 6H3V4H3.00015C4.10472 4 5.00015 3.10457 5.00015 2C5.00015 0.896758 4.10687 0.00215501 3.00414 0Z" fill="currentColor"></path></g><defs><clipPath id="clip0_1944_123525"><rect width="5" height="178" fill="white"></rect></clipPath></defs>
    </symbol>

    <!-- 定义第三个图标 -->
    <symbol id="rightTopSmallCorner" viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0H0V2H3C3 4.76143 5.23859 7 8 7V0Z" fill="currentColor"></path>
    </symbol>
  </svg>

  <svg width='5' height='178' class='left border'>
    <use xlink:href="#leftBorder" />
  </svg>
  <svg width='5' height='178' class='right border'>
    <use xlink:href="#leftBorder" />
  </svg>

  <svg width='12' height='12' class='lt big-corner'>
    <use xlink:href="#leftTopBigCorner" />
  </svg>
  <svg width='12' height='12' class='rt big-corner'>
    <use xlink:href="#leftTopBigCorner" />
  </svg>
  <svg width='12' height='12' class='lb big-corner'>
    <use xlink:href="#leftTopBigCorner" />
  </svg>
  <svg width='12' height='12' class='rb big-corner'>
    <use xlink:href="#leftTopBigCorner" />
  </svg>

  {% comment %} 用于把容器自动撑高 {% endcomment %}
  <div class='left-content height-content'>
    <div class='contain'>
      <span class='msg'>{{ leftText }}</span>
      <span class='code'>Code: {{ discountCouponCode }}</span>
    </div>
  </div>

  <div class='left-content'>
    <div class='contain'>
      <span class='msg'>{{ leftText }}</span>
      <span class='code'>Code: {{ discountCouponCode }}</span>
    </div>
  </div>
  {% comment %} 分割线 {% endcomment %}
  <div class='divider'>
    <svg width='8' height='8' class='rt small-corner'>
      <use xlink:href="#rightTopSmallCorner" />
    </svg>
    <svg width='8' height='8' class='rb small-corner'>
      <use xlink:href="#rightTopSmallCorner" />
    </svg>
    <svg width='8' height='8' class='lt small-corner'>
      <use xlink:href="#rightTopSmallCorner" />
    </svg>
    <svg width='8' height='8' class='lb small-corner'>
      <use xlink:href="#rightTopSmallCorner" />
    </svg>
  </div>
  <div class='right-content'>
    <div class='contain'>
      <span class='code'>{{ discountCouponCode }}</span>
      <button class='apply btn' onclick='handleClickApply({{ discountCouponCode | json }})'>APPLY</button>
      <button class='applied btn none'onclick='handleClickApply({{ discountCouponCode | json }})'>APPLIED</button>
    </div>
  </div>
</div>
