{% capture classicJs %}
  {{ 'classic.js' | asset_url }}
{% endcapture %}
{% capture classicCss %}
  {{ 'classic.css' | asset_url }}
{% endcapture %}
{% capture classicHtml %}
  {{ 'classic.html' | asset_url }}
{% endcapture %}
{% capture multipleDiscountContain %}
  {{ 'multipleDiscountContain.html'| asset_url }}
{% endcapture %}

<head>
  <script src='{{ 'index.js' | asset_url }}' defer></script>
  <script src='{{ 'axios.js' | asset_url }}' defer></script>
  <script src='{{ 'classic.js' | asset_url }}' defer></script>
  {{ 'classic.css' | asset_url | stylesheet_tag }}
  {{ 'global.css' | asset_url | stylesheet_tag }}
</head>

<div id='discount-coupon-container'>
  <div class='variable'>
    <div id='classicJs'>{{ classicJs }}</div>
    <div id='classicCss'>{{ classicCss }}</div>
    <div id='classicHtml'>{{ classicHtml }}</div>
    <div id='multipleDiscountContain'>{{ multipleDiscountContain }}</div>
  </div>
</div>

{% schema %}
{
  "name": "Discount Coupon",
  "target": "section",
  "settings": []
}
{% endschema %}
